# https://platform.openai.com/account/api-keys
OPENAI_API_KEY=  <API_KEY_GOHERE>
# https://console.groq.com/keys
GROQ_API_KEY=<API_KEY_GOHERE>
# https://brave.com/search/api/
BRAVE_SEARCH_API_KEY=<API_KEY_GOHERE>
# https://serper.dev/
SERPER_API=<API_KEY_GOHERE>

# Set LAN GPU server, examples:
# PC | http://localhost:11434/v1
# LAN GPU server | http://192.168.1.100:11434/v1
OLLAMA_BASE_URL=http://localhost:11434/v1

# https://developer.spotify.com/dashboard - for @searchSong tool
SPOTIFY_CLIENT_ID=<API_KEY_GOHERE>
SPOTIFY_CLIENT_SECRET=<API_KEY_GOHERE>

# https://upstash.com/ - for rate limiting and semantic cache (set useRateLimiting/useSemanticCache to true in config.tsx)
UPSTASH_REDIS_REST_URL=<URL_GOHERE>
UPSTASH_REDIS_REST_TOKEN=<TOKEN_GOHERE>
